* {padding: 0; margin: 0; border: 0; box-sizing: border-box;transition: ease-in-out .3s;}
:focus,:active{outline: none;}
button{cursor: pointer; background-color: #5474fd;}
a{text-decoration: none; color: #fff;}
ul li{list-style: none;}
body{color: #fff;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
html{scroll-behavior: smooth; transition: ease-in-out .2s;}
:hover{transition: ease-in-out .3s;}
