@media screen and (min-width: 768px) and (max-width: 1023px) {

    .btn {
        width: 190px;
        height: 55px;
        font-size: 14px;
    }

    .footer__container, .testimonial__container, .book-now__main-two .boork-now__container-two, .book-now__main-one .boork-now__container-one, .how-it-works .how-it-works__container, .choose-us .choose-us__container, .choose-us .nav .nav__container, .header .header__container {
        margin: 0 50px;
    }

    .header .header__search .header__btn .header__search_icon {
        margin: 10px 5px 0 0;
    }

    .testimonial__title, .how-it-works .how-it-works__container .how-it-works__inner div .how-it-works__title, .choose-us .choose-us__container .choose-us__info .choose-us__title {
        font-size: 26px;
    }

    .footer__container .footer__subtitle, .testimonial__article_text, .book-now__article .book-now__text, .choose-us .choose-us__container .choose-us__info .choose-us__text {
        font-size: 13px;
        line-height: 1.4;
    }

    .testimonial__article_title, .book-now__article .book-now__title {
        font-size: 16px;
    }

    /* header */
    .header .header__search .header__btn {
        font-size: 0;
        height: 45px;
    }

    .header .header__search input[type=text] {
        height: 45px;
    }

    /* choose us */
    .choose-us {
        height: 700px;
    }

    .choose-us .choose-us__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 600px;
    }

    .choose-us .choose-us__container .choose-us__info {
        height: 275px;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .choose-us .choose-us__container .choose-us__photo {
        position: static;
        width: 100%;
        height: 185px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .choose-us .choose-us__container .choose-us__photo-one {
        position: static;
        width: 45%;
        height: 100%;
    }

    .choose-us .choose-us__container .choose-us__photo-one:hover {
        -webkit-transform: translate(0,0);
            -ms-transform: translate(0,0);
                transform: translate(0,0);
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .choose-us .choose-us__container .choose-us__photo-two {
        position: static;
        width: 45%;
        height: 100%;
    }

    .choose-us .choose-us__container .choose-us__photo-two:hover {
        -webkit-transform: translate(0,0);
            -ms-transform: translate(0,0);
                transform: translate(0,0);
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    /* how it works */
    .how-it-works .how-it-works__container {
        height: 230px;
    }

    .how-it-works__inner {
        position: relative;
    }

    .how-it-works .how-it-works__container .how-it-works__inner {
        height: auto;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9);
    }

    .how-it-works .how-it-works__container .how-it-works__inner:after {
        content: none;
    }

    .how-it-works .how-it-works__container .how-it-works__inner::before {
        content: none;
    }

    /* book now */
    .book-now__main-one {
        height: 500px;
    }

    .book-now__article {
        height: 60%;
    }

    .book-now__main-two {
        height: 500px;
    }

    /* testimonial */
    .testimonial {
        height: 700px;
    }

    .testimonial__container {
        max-height: 360px;
    }

    /* footer */
    .footer {
        height: 200px;
    }

    .footer__container {
        max-width: 130px;
        padding-bottom: 20px;
    }

    .footer__container .footer__title {
        font-size: 18px;
        width: 100%;
    }

    .footer__container .footer__subtitle {
        font-size: 12px;
        width: 100%;
    }

    .footer__container a {
        margin-top: 20px;
        font-size: 12px;
    }

    /* Burger menu */
    .nav {
        position: fixed;
    }

    .nav__menu li {
        display: none;
    }

    .menu-wrap {
        display: inline-block;
      }
      
    /* menu button */
    .btn {
        display: inline-block;
        border: none;
        color: #fff;
        padding: 7px 14px;
        margin-top: 16px;
        text-decoration: none;
    }

    .menu-wrap {
        position: static;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    .menu-wrap .toggler {
        position: absolute;
        top: 10px;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 30px;
        height: 50px;
        margin-right: 60px;
        opacity: 0;
    }
    
    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 30px;
        height: 80px;
        margin-right: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .menu-wrap .hamburger > div {
        position: relative;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: #fff;
    }

    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
    
    .menu-wrap .toggler:checked + .hamburger > div {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    
    .menu-wrap .toggler:checked + .hamburger > div:before,
    .menu-wrap .toggler:checked + .hamburger > div:after {
        top: 0;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
                transform: rotate(225deg);
    }
    
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        -webkit-transition: opacity 0.4s ease 0.4s;
        -o-transition: opacity 0.4s ease 0.4s;
        transition: opacity 0.4s ease 0.4s;
    }
    
    /* menu */
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .menu-wrap .menu > div {
        background: rgba(0, 0, 0, 0.9);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 100vw;
        max-height: 100vh;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
    }
    
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        padding: 20px;
    }
    
    .menu-wrap .menu > div > div > ul > li > a {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
        -webkit-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        transition: color 0.4s ease;
    }
}